<main>
    <section class="titles" style="background-image: url(cinematix.png)">
        <div class="title">
                <h1>Cinematix</h1>
                <h3>
                    Explore our extensive collection of the latest blockbusters, 
                    timeless classics, and hidden gems.
                </h3>
        </div>
    </section>
 
    <app-movieslist title="Now Playing"/>
    <app-movieslist title="Popular"/>
    <app-movieslist title="Top Rated"/>
    <app-movieslist title="Upcoming"/>
</main>