@use "../../utils/flex.scss";
@use "../../utils/widthHeight.scss";

header {
    width: 100%;
    background: transparent;
    padding: 1rem;
}

#navbar {
    @include flex.flex(row, center, center, 0.7rem, none);

    a {
        text-decoration: none;
        color: #fde400;
    }

    #form {
        @include flex.flex(row, none, none, 0.7rem, none);
        @include widthHeight.widthHeight(100%, 800px, 100%);

        #button {
            @include widthHeight.widthHeight(100%, 30px, 30px);
            border-style: none;
            border-radius: 5px;
            background: linear-gradient(to right, #928d02, #f2ff00, #928d02);
            cursor: pointer;

            &:hover {
                background: linear-gradient(to right, #f2ff00, #928d02, #f2ff00);
                transition: 0.5 all;
            }

            img { width: 20px }
        }

        input {
            width: 100%;
            border-radius: 5px;
            border-style: none;

            &::placeholder { padding: 10px; }
        }
    }
}
